<div class="container-fluid" style="min-height: 10vh; background-color:  #d9d9d9;">
    <div class="row pt-2 pl-3 pr-3">
        <div class="col">
            <ul type="none">
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
            </ul>
        </div>

        <div class="col">
            <ul type="none">
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
            </ul>
        </div>

        <div class="col">
            <ul type="none">
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
            </ul>
        </div>

        <div class="col">
            <ul type="none">
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
                <li><a href="#">BUTEX</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid m-2 pt-3 pb-1">
        <p class="text-center">Copyright&copy;2024</p>
    </div>
</div>