<footer>
    <div class="container-fluid" style="min-height: 10vh; background-color:  #01443f;">
        <div class="row pt-5">
            <div class="col pl-3 container" style="color: rgb(3, 3, 3);">
                <ul type="none">
                    <caption>Links</caption>
                    <li><a href="https://www.butex.edu.bd">BUTEX</a></li>
                    <li><a href="https://bjri.gov.bd/">BJRI</a></li>
                </ul>
            </div>
    
            <div class="col container">
                <ul type="none" style="color: rgb(10, 10, 10);">
                    <caption>Contact</caption>
                    <li><a href="mailto: tanzirulislam025@gmail.com">Mail</a></li>
                    <li><a href="https://www.facebook.com/tanzirul.shanto">Facebook</a></li>
                    
                </ul>
            </div>

    
        </div>
        <div class="container-fluid m-2 pt-3 pb-1">
            <p class="text-center footer-txt">Copyright&copy;2024</p>
        </div>
    </div>
</footer>