<div class="container-fluid" style="min-height: 10vh; background-color:  #098d82;">
    <div class="row pt-5" style="padding-left: 20pc;">
        <div class="col pl-3 container" style="color: rgb(3, 3, 3);">
            <ul type="none">
                <caption>Links</caption>
                <li><a style="color: white;" href="https://www.butex.edu.bd">BUTEX</a></li>
                <li><a style="color: white;" href="https://notebot.netlify.app/">NoteBot</a></li>
            </ul>
        </div>

        <div class="col pl-3 container" style="padding-left: 20pc";>
            <ul type="none" style="color: rgb(10, 10, 10);">
                <caption>Contact</caption>
                <li><a style="color: white;" href="mailto: tanzirulislam025@gmail.com">Mail</a></li>
                <li><a style="color: white;" href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Facebook</a></li>
                
            </ul>
        </div>

        

    </div>
    <div class="container-fluid m-2 pt-3 pb-1">
        <p class="text-center">Copyright&copy;2024</p>
    </div>
</div>